

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    padding: 20px;
}

.header ul{
    display: flex;

}

.header ul li{
    list-style: none;
    padding: 10px;
}

.search-container{
    padding: 20px;

}

.search-input, .search-btn{
    padding: 10px;
    
}

.search-input{
    margin-right: 10px;
}

.card{
    width: 250px;
    padding: 20px;
    border: 1px solid black;  
    margin: 20px;  
}

.card img{
    width: 100%;
    height: 200px;
    object-fit:fill;
}

.cardBox{
    display: flex;
    flex-wrap: wrap;
}

.login-btn {
    width: 100px;
}





